@import "variables.css";

.reports-box {
    background: none;
    border-radius: 12px;
    padding: 25px;
}

.report-card {
    background: var(--dash-sage-card);
    padding: 22px;
    border-radius: 12px;
    margin-bottom: 20px;

}

.report-card:hover {
    background-color: var(--dash-sage-hover);
    transform: translateY(-2px);
}