.settings-box {

    background: #AFCBBA;
    padding: 20px;
    border-radius: 12px;

}

.setting_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;


}

.setting-item {

    height: 50px;
    display: flex;
    width: 100%;
    align-items: top;
    padding: 16px 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    overflow: hidden;
    text-align: left;

}


.setting-item .fas,
.edit_info {
    background-color: #AFCBBA;
    border: none;
    color: #5d6a62;
}

.fas {
    left: 95%;
}


.setting-item:last-child {
    border-bottom: none;
}

.setting-item h5 {
    font-size: 17px;
}

.setting-item i {
    color: gray;
}

.content_hidden {
    display: none;

}

.content_hidden.show {
    display: block;
    padding-bottom: 20px;
    margin-left: 3px;
    width: 100%;

}



.expand {

    height: fit-content !important;
    font-size: 13px;

}




dialog {
    border: 1px #a6c8b4;
    background-color: #AFCBBA;
    margin: auto;
    position: fixed;
    width: 20%;
    height: 80%;
    padding: 20px;
}

dialog::backdrop {
    background-color: rgba(43, 42, 42, 0.6);
    backdrop-filter: blur(1px);
}

#account_overlay {

    justify-content: space-between;
    align-self: center;
}

.profile {
    color: #222724;

}

.important_txt {
    font-weight: bold;

}

.center_txt {
    text-align: center;
}