{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurae Admin</title>



    <link rel="stylesheet" href="{% static 'css/activityLog_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>

<body>

    <div id="container" class="expand">

        {% include 'sidebar.html' %}

        <main class="main">

            {% include 'topbar.html' %}

            <div class="header">
                <div class="header-left">
                    <h1>Activity Log</h1>
                    <p>Know the recent activities.</p>
                </div>
            </div>

            <br>
            <select name="logs" id="logs" onchange="activity_change(value)">
                <option value="user">User Logs</option>
                <option value="admin">Admin Logs</option>
            </select>
            <div id="table_useractivity">



                <div id="user_activity" class="act_log_table">
                    <table id="activity_table">

                        <thead>
                            <th>Activity</th>
                            <th>Date and Time</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Activated</th>

                        </thead>

                        <tbody>
                        <tbody>
                            {% for item in activity_log %}
                            <tr>
                                <td>{{ item.activity_log }}</td>
                                <td>{{ item.log_datetime }}</td>
                                <td>{{ item.user.username }}</td>

                                <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
                                <td>{{ item.user.email }}</td>
                                <td>{{ item.user.is_active }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">no rec</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

                <div id="admin_activity" class="act_log_table hidden">

                    <h1>gaga</h1>
                </div>

            </div>






        </main>

    </div>

    <script src="{% static 'js/toggle_sidebar.js' %}">

    </script>

    <script>

        function activity_change(value) {
            if (value == 'admin') {
                document.querySelectorAll('.act_log_table').forEach(element => {
                    element.classList.add('hidden')
                });

                document.getElementById('admin_activity').classList.remove('hidden');
            }

            else if (value == 'user') {
                document.querySelectorAll('.act_log_table').forEach(element => {
                    element.classList.add('hidden')
                });

                document.getElementById('user_activity').classList.remove('hidden');
            }
        }

    </script>


</body>