.data-table {

    background-color: #bad3c4;
    border: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 62%;
    overflow-y: scroll;
}




.good {
    color: green;
    font-weight: bold;
}

.moderate {
    color: orange;
    font-weight: bold;
}


.table-actions button {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.green {
    background: #7ca982;
    color: white;
}

.light {
    background: #e5e7eb;
}