.support-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.support-card {
    background: #AFCBBA;
    border-radius: 18px;
    padding: 28px 35px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.support-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

.support-card i {
    font-size: 42px;
}